#dTable {
  align-items: center;
}

#table {
  width: 80vw;

  margin-left: auto;
  margin-right: auto;

  border-collapse: collapse;
}

#table, tbody, tr, td {
  text-align: left;
  border: 2px solid black;
}

td {
  font-size: 22px;

  padding: 5px;

}

#tableHead {
  font-size: 28px;
  font-weight: bold;
  background-color: #d0d0d0;
}

tbody > tr:nth-child(even) {
  background-color: #eee;
}
